{% extends "master.html.twig" %}

{% block meta %}
    {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('de')
    } %}
{% endblock %}

{% block content %}
    {% cache 'map' map_cache_lifetime %}
        {% include 'partials/map.html.twig' %}
    {% endcache %}

    {% for article in articles %}
    <div class="post-preview">
        <a href="{{ article.urls[request.locale] }}">
            {% set page = sulu_content_load(article.uuid) %}
            <h2 class="post-title">
                {{ page.content.heading_title|default('') }}
            </h2>
            <h3 class="post-subtitle">
                {{ page.content.article|default('')|slice(0, 100)|raw }}...
            </h3>
        </a>
        {% set authorObject = sulu_resolve_user(author) %}
        <span class="post-meta">Veröffentlicht
            von {{ authorObject.contact.firstName|default('') }}
            am {{ article.document.published|date('d.m.Y') }}
        </span>
    </div>
    <hr>
    {% endfor %}
{% endblock %}
