{% if content.heading_background is defined and content.heading_background|length > 0 %}
    {% set image = (content.heading_background|first) %}
    {% set defaultImage = image.thumbnails["1920x1080"] %}
{% endif %}

<header class="masthead" {% if defaultImage is defined %}style="background-image: linear-gradient(to top, #1c1c21, rgba(255,0,0,0)), url('{{ asset(defaultImage) }}')"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="{% if 'blogpost' == template %}post-heading{% else %}site-heading{% endif %}">
                    <h1>{{ content.heading_title|default('') }}</h1>
                    <span class="subheading">{{ content.heading_sub|default('') }}</span>
                    {% if 'blogpost' == template %}
                        <span class="meta">
                            {% set authorObject = sulu_resolve_user(author) %}
                            Veröffentlicht
                            von {{ authorObject.contact.firstName|default('') }}
                            am {{ created|date('d.m.Y') }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>