{% if content.heading_background is defined and content.heading_background|length > 0 %}
    {% set image = (content.heading_background|first) %}
    {% set defaultImage = image.thumbnails["1920x1080"] %}
{% endif %}

<header class="flex items-center justify-center bg-cover bg-center relative"
    {% if defaultImage is defined %}style="height: 100vh; background-image: url('{{ asset(defaultImage) }}')"{% endif %}
>
    <div class="absolute inset-0 bg-gradient-to-t from-zinc-800 to-transparent"></div>
    <div class="relative text-left text-white px-6 w-full {% if 'blogpost' == template %}md:max-w-1/2 {% else %}md:max-w-1/3 {% endif %}">
        <h1 class="text-6xl md:text-7xl font-extrabold mb-4">
            {{ content.heading_title|default('') }}
        </h1>
        <p class="text-xl md:text-2xl opacity-90">
            {{ content.heading_sub|default('') }}
        </p>
        {% if 'blogpost' == template %}
            <p class="text-3xl mt-8">
                {% set authorObject = sulu_resolve_user(author) %}
                Veröffentlicht
                von {{ authorObject.contact.firstName|default('') }}
                am {{ created|date('d.m.Y') }}
            </p>
        {% endif %}
    </div>
</header>